{% extends "layout.html" %}
{% block content %}
<script language="JavaScript" type="text/javascript">
function AllChecked(){
	var check =  document.form.all.checked;

	for (var i=0; i<document.form.category.length; i++){
		document.form.category[i].checked = check;
	}
}
</script>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	<div class="form">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="lead">
					{% for n in name%}
					{{n}}<br>
					{% endfor %}
					</p>
					<form name="form" action="/create" method="post" class="form-inline">
						<div id = "files">
							<ul>
								<li><h4><input type="checkbox" name="all" onClick="AllChecked();" /> 全選択</h4></li>
								<li><h4>カメラ・AV・家電<br></h4>
									<input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=114&pmin=200&pmax=6000&sortV=1,スマホ・携帯電話用品'/>スマホ・携帯電話用品
									<input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=13&pmin=200&pmax=6000&sortV=1,DVDソフト'/>DVDソフト
								</li>
								<li><h4>オフィス用品・文具<br></h4>
									<input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=42&pmin=200&pmax=6000&sortV=1,事務用品・文房具'/>事務用品・文房具
									<input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=32&pmin=200&pmax=6000&sortV=1,筆記用具'/>筆記用具
									<input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=33&pmin=200&pmax=6000&sortV=1,ノート・紙製品'/>ノート・紙製品
									<input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=97&pmin=200&pmax=6000&sortV=1,ファイル'/>ファイル
									<input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=48&pmin=200&pmax=6000&sortV=1,コピー用紙・OA用紙'/>コピー用紙・OA用紙
									<input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=31&pmin=200&pmax=6000&sortV=1,オフィス家具・収納'/>オフィス家具・収納
									<input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=38&pmin=200&pmax=6000&sortV=1,事務機器'/>事務機器
									<input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=29&pmin=200&pmax=6000&sortV=1,梱包資材'/>梱包資材
									<input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=30&pmin=200&pmax=6000&sortV=1,店舗用品'/>店舗用品
								</li>
								<li><h4>ベビー・キッズ・ホビー<br></h4>
									<input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=51&pmin=200&pmax=6000&sortV=1,ベビー・キッズ・マタニティ'/>ベビー・キッズ・マタニティ
									<input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=46&pmin=200&pmax=6000&sortV=1,趣味・おもちゃ'/>趣味・おもちゃ
									<input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=14&pmin=200&pmax=6000&sortV=1,ゲーム機器・ソフト'/>ゲーム機器・ソフト
								</li>
								<li><h4>ホーム＆キッチン・ペット<br></h4>
									<input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=34&pmin=200&pmax=6000&sortV=1,キッチン用品・食器'/>キッチン用品・食器
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=85&pmin=200&pmax=6000&sortV=1,インテリア'/>インテリア
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=109&pmin=200&pmax=6000&sortV=1,ラグ・カーテン・ファブリック'/>ラグ・カーテン・ファブリック
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=83&pmin=200&pmax=6000&sortV=1,家具'/>家具
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=86&pmin=200&pmax=6000&sortV=1,寝具'/>寝具
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=36&pmin=200&pmax=6000&sortV=1,掃除用品'/>掃除用品
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=135&pmin=200&pmax=6000&sortV=1,防犯・防災用品'/>防犯・防災用品
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=50&pmin=200&pmax=6000&sortV=1,ペット用品'/>ペット用品
              <ul>
                <h5>生活雑貨</h5>
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=35&pmin=201&pmax=500&sortV=1,生活雑貨201~500'/>￥201～￥500
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=35&pmin=501&pmax=1000&sortV=1,生活雑貨501~1000'/>￥501～￥1,000
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=35&pmin=1001&pmax=2000&sortV=1,生活雑貨1001~2000'/>￥1,001～￥2,000
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=35&pmin=2001&pmax=3000&sortV=1,生活雑貨2001~3000'/>￥2,001～￥3,000
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=35&pmin=3001&pmax=5000&sortV=1,生活雑貨3001~5000'/>￥3,001～￥5,000
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=35&pmin=5001&pmax=6000&sortV=1,生活雑貨5001~6000'/>￥5,001～￥6,000
              </ul>
						</li>
						<li><h4>DIY・工具・エクステリア<br></h4>
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=90&pmin=200&pmax=6000&sortV=1,ライト照明'/>ライト・照明
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=113&pmin=200&pmax=6000&sortV=1,住宅設備'/>住宅設備
              <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=49&pmin=200&pmax=6000&sortV=1,ガーデニングフラワー'/>ガーデニング・フラワー
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=43&pmin=200&pmax=6000&sortV=1,住宅エクステリア'/>住宅・エクステリア
              <ul>
                <h4>DIY・工具<br></h4>
                <li>
						      <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=145&pmin=200&pmax=6000&sortV=1,ドライバー'/>ドライバー
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=147&pmin=200&pmax=6000&sortV=1,ボルト・ナット・レンチ'/>ボルト・ナット・レンチ
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=148&pmin=200&pmax=6000&sortV=1,ジョイント・リンク'/>ジョイント・リンク
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=149&pmin=200&pmax=6000&sortV=1,大工道具・用品'/>大工道具・用品
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=146&pmin=200&pmax=6000&sortV=1,測定工具'/>測定工具
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=144&pmin=200&pmax=6000&sortV=1,電動工具・エア工具'/>電動工具・エア工具
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=150&pmin=200&pmax=6000&sortV=1,接着・塗装・オイル'/>接着・塗装・オイル
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=153&pmin=200&pmax=6000&sortV=1,部品・部材'/>部品・部材
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=152&pmin=200&pmax=6000&sortV=1,整理・収納・運搬'/>整理・収納・運搬
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=303&pmin=200&pmax=6000&sortV=1,電設資材'/>電設資材
                </li>
              </ul>
              <ul>
                <h5>作業工具・工作道具</h5>
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=151&pmin=201&pmax=500,作業工具工作道具201~500'/>￥201～￥500
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=151&pmin=501&pmax=1000&sortV=1,作業工具工作道具501~1000'/>￥501～￥1,000
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=151&pmin=1001&pmax=2000&sortV=1,作業工具工作道具1001~2000'/>￥1,001～￥2,000
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=151&pmin=2001&pmax=3000&sortV=1,作業工具工作道具2001~3000'/>￥2,001～￥3,000
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=151&pmin=3001&pmax=5000&sortV=1,作業工具工作道具3001~5000'/>￥3,001～￥5,000
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=151&pmin=5001&pmax=6000&sortV=1,作業工具工作道具5001~6000'/>￥5,001～￥6,000
              </ul>
              <ul>
                <h5>その他</h5>
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&pmin=201&pmax=500,DIYその他201~500'/>￥201～￥500
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=0&pmin=501&pmax=1000&sortV=1,DIYその他501~1000'/>￥501～￥1,000
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=0&pmin=1001&pmax=2000&sortV=1,DIYその他1001~2000'/>￥1,001～￥2,000
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=0&pmin=2001&pmax=3000&sortV=1,DIYその他2001~3000'/>￥2,001～￥3,000
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=0&pmin=3001&pmax=5000&sortV=1,DIYその他3001~5000'/>￥3,001～￥5,000
                  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=103&ku2=0&pmin=5001&pmax=6000&sortV=1,DIYその他5001~6000'/>￥5,001～￥6,000
              </ul>
              <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=47&pmin=200&pmax=6000&sortV=1,作業用品'/>作業用品
            </li>
						<li><h4>楽器・音楽機器<br></h4>
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=20&pmin=200&pmax=6000&sortV=1,管楽器'/>管楽器
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=17&pmin=200&pmax=6000&sortV=1,ピアノ・鍵盤楽器'/>ピアノ・鍵盤楽器
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=18&pmin=200&pmax=6000&sortV=1,ギター・ベース・弦楽器'/>ギター・ベース・弦楽器
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=19&pmin=200&pmax=6000&sortV=1,ドラム・打楽器'/>ドラム・打楽器
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=21&pmin=200&pmax=6000&sortV=1,DJ機器'/>DJ機器
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=22&pmin=200&pmax=6000&sortV=1,MIDI機器'/>MIDI機器
						  <input type="checkbox" class="form-control" name = "category" value='http://www.ecj.jp/U1201.doit?ca1=23&pmin=200&pmax=6000&sortV=1,アンプ・エフェクター'/>アンプ・エフェクター
						</li>
        </ul>
          </div>
          <button id="test" type="submit" class="btn btn-submit">決定する</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
